# Abstract

The project aims to predict the future values of the stock market index for the Saudi Stock Exchange (TASI) using machine learning. Experiments are performed in 1–10, 15 and 30 days in advance. The project proposed approach involving Support Vector Regression (SVR). The project is based on a paper by Patel et.al. (2015) where he used machine learning techniques to predict two stock market indices CNX Nifty and S&P Bombay stock exchange. The project aims to predict the future values of the stock market index for the Saudi Stock Exchange (TASI) using machine learning. Experiments are performed in 1–10, 15 and 30 days in advance. The project proposed approach involving Support Vector Regression (SVR). The project is based on a paper by Patel et.al. (2015) where he used machine learning techniques to predict two stock market indices CNX Nifty and S&P Bombay stock exchange.

# Data

The dataset is from bloomberg. Initially, the data will be daily from 2010 until 2021 of TASI index since the Saudi stock market has changed in structure in the past 10 years. Predictor variables are taken from Patel et.al (2015) which are the following:

- Simple 10 days moving average.
- Weighted 10 days moving average.
- Momentum Stochastic K%
- Stochastic D%
- Relative strength index (RSI)
- Moving average convergence divergence (MACD)
- A/D (Accumulation/Distribution) oscillator
- CCI (commodity channel index).

In [8]:
import numpy as np
import pandas as pd

data = pd.read_csv('/Users/NoNo/Documents/My Documents/Tuwaiq Data Science Course/Project/Tasi10 Years Data with Studies.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3113 entries, 0 to 3112
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              3113 non-null   object
 1   Close             3113 non-null   float64
 2   MA(10C)s          3113 non-null   float64
 3   MA(10C)w          3113 non-null   float64
 4   %K(141)           3113 non-null   float64
 5   %D(3)             3113 non-null   float64
 6   RSI(14C)          3113 non-null   float64
 7   MACDHist(12269C)  3106 non-null   float64
 8   MACD(12269C)      3113 non-null   float64
 9   MACDSig(12269C)   3106 non-null   float64
 10  AccDist           3113 non-null   float64
 11  CCI(20C)          3084 non-null   float64
 12  ATR(14)           3113 non-null   float64
dtypes: float64(12), object(1)
memory usage: 316.3+ KB

In [9]:
data.head()

,Date,Close,MA(10C)s,MA(10C)w,%K(141),%D(3),RSI(14C),MACDHist(12269C),MACD(12269C),MACDSig(12269C),AccDist,CCI(20C),ATR(14)
0,11/08/2021,11846.53,11771.853,11773.453,66.916,56.816,61.821,-17.682,70.861,88.543,1.090000e+11,64.378,99.998
1,11/07/2021,11841.60,11776.184,11760.663,65.410,40.442,61.540,-26.343,69.242,95.585,1.090000e+11,67.781,98.587
2,11/04/2021,11752.23,11776.829,11748.886,38.122,30.711,56.105,-36.510,66.671,103.182,1.080000e+11,6.110,99.167
3,11/03/2021,11685.66,11795.564,11756.765,17.795,33.057,51.350,-39.311,71.519,110.831,1.080000e+11,-34.421,97.881
4,11/02/2021,11752.12,11817.372,11780.713,36.216,42.636,57.083,-34.453,83.444,117.898,1.080000e+11,14.025,95.314

In [10]:
data.shape

(3113, 13)